/*
font-family: 'Miriam Libre', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;

CITAT'IMAC :
font-family: 'Poppins', sans-serif;
font-style: italic;
text-transform: uppercase;


BUTTON
font-family: 'Poppins', sans-serif;
text-transform: uppercase;


SOUS-TITRES
font-family: 'Poppins', sans-serif;
text-transform: uppercase;


Petits textes :
font-family: 'Roboto', sans-serif;


Texte citation :
font-family: 'Miriam Libre', sans-serif;
*/

:root {
    --bg: linear-gradient(-225deg, #3d4e81 0%, #5753c9 48%, #6e7ff3 100%);
    /*Block de gauche*/
    --bgNav: white;

    /*Rechercher*/
    --borderSearchBar: #bfbfbf;
    --searchBarBottom: #575756;
    /*Tags*/
    --borderTags: #fdd31c;
    --bgTags: #FDDA3E;
    --colorButton: #874EDD;
    --labelBg: white;
    --labelColor: #adadad;
    --labelColorChecked: white;
    --borderTagsFocus: #ffebcc;

    /*Block de citation*/
    --colorInfos: #a6a6a6;

    /*Pop-up*/
    --redCitation: #e60000;
    --bgTextInput: rgb(248, 248, 248);
    --cancel: #999999;
}

body{
    background-image: var(--bg);
    padding: 0 16.7% 15px 16.7%;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    color: white;
}

header{
    text-align: center;
}

#container{
    display: flex;
}

nav, .one_citation{
    margin-right: 3%;
    width: 30%;
    background-color: var(--bgNav);
    border-radius: 15px;
    padding: 2%;
    text-align: center;
}

nav h2{
    margin: 20px 0 15px 0;
}

nav h4{
    margin: 10px 0 5px 0;
}

.button{
    background-color: var(--colorButton);
    padding: 2% 7%;
    border-radius: 8px;
    border: none;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: white;
}

.sousbloc_left{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

#pop_new_citation form, #pop_signal form{
    width: 100%;
}

.selectForm{
    font-size: 0.8em;
    overflow: hidden;
    background: url(../img/new_arrows.png) no-repeat right;
    background-size: 20px;
    background-color: var(--bgTextInput);
    -webkit-appearance: none;
    width: 100%;
    padding: 5px 20px;
    border-radius: 40px;
    border: 1px solid var(--borderSearchBar);
}

#searchForm{
    display: flex;
}

.text_input{
    width: 100%;
    padding: 6px 12px;
    line-height: 18px;     
    background-color: var(--bgTextInput);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid var(--borderSearchBar);
    transition: all 250ms ease-in-out;
}

.text_input:hover,
.text_input:focus{
    padding: 6px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid var(--searchBarBottom);
    border-radius: 0;
    background-position: 100% center;
}

#searchForm input[type=submit]{
    margin: 0;
    visibility: hidden;
    padding: 0;
}

#sortForm, #searchForm{
    font-family: 'Roboto', sans-serif;
}

#filterForm{
    text-align: center;
}

#filterForm h2, #filterForm h4{
    text-align: left;
}
#filterForm div{
    display: flex;
    text-align: left;
}
#filterForm .left_right{
    width: 50%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    text-transform: lowercase;
}

.tag{
    display: inline-block;
    background-color: var(--labelBg);
    color: var(--labelColor);
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
    padding: 8px 12px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    text-transform: lowercase;
}

.tag::before{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

.tag_checkbox:checked + .tag::before{
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

.tag_checkbox:checked + .tag{
    border: 2px solid var(--borderTags);
    background-color: var(--bgTags);
    color: var(--labelColorChecked);
    transition: all .2s;
}

.tag_checkbox{
  display: absolute;
  position: absolute;
  opacity: 0;
}

.tag_checkbox:focus + .tag{
  border: 2px solid var(--borderTagsFocus);
}

#block_citations{
    width: 70%;
}

.one_citation{
    width: 100%;
    margin: 0 0 30px 0;
}

.infos-citation, .commands-citation{
    text-align: left;
}

.infos-citation ul{
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.infos-citation li, 
.infos-citation .quote_date, 
.commands-citation .like-button, 
.commands-citation .number_likes{
    display: inline-block;
}

.infos-citation li{
    border: 2px solid var(--borderTags);
    background-color: var(--bgTags);
    color: var(--labelColorChecked);
    transition: all .2s;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    padding: 8px 12px;
}

.infos-citation .quote_date{
    float: right;
    margin: 0;
    padding: 12px 0;
    color: var(--colorInfos);
    font-size: 0.7em;
}

.infos-citation .quote{
    font-family: 'Miriam Libre';
    font-size: 150%;
    margin: 10px 0 5px 0;
}

.infos-citation .quote_author{
    margin: 0 0 10px 0;
}

.commands-citation{
    height: 40px;
}

.commands-citation button, .commands-citation .number_likes, .commands-citation a{
    margin: 10px 0 0 0;
}

.commands-citation button{
    background-color: white;
    padding: 5px 15px;
    border-radius: 8px;
    border: 2px solid var(--colorButton);
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: var(--colorButton);
}

.commands-citation button:hover{
    cursor: pointer;
}

.commands-citation button.clicked{
    background-color: var(--colorButton);
    color: white;
}

.commands-citation .number_likes{
    color: var(--colorButton);
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
}

.commands-citation a{
    float: right;
    color: var(--colorInfos);
    font-size: 0.7em;
}

/*Les pop-up*/

#cover{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 5;
    width: 100%;
    height: 100%;
}

#pop_new_citation:target, #pop_new_citation:target + #cover {
    display: block;
    opacity: 2;
}

#pop_new_citation, #pop_signal{
    display: none;
    top: 0;
    width: 30%;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    margin-top: 10%;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: center;
    padding: 10px 3% 30px 3%;
}

.warning_popup{
    font-family: 'Roboto', sans-serif;   
    font-size: 0.8em;
    color: var(--redCitation);
    text-align: left;
}

#pop_new_citation form, #pop_signal form{
    text-align: left;
}

#pop_new_citation label, #pop_signal label{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    display: block;
    margin: 15px 0 5px 0;
}

#pop_new_citation .tag{
    display: inline-block;
}

#pop_new_citation .text_input,
#pop_signal .text_input{
    background: var(--bgTextInput);
    width: -webkit-calc(100% - 28px);
    width: -moz-calc(100% - 100px);
    width: calc(100%-28x);
}

#pop_new_citation textarea,
#pop_signal textarea{
    border-radius: 10px;
}

#add_citation_form, #send_citation_warning{
    display: block;
    margin: auto;
    margin-top: 20px;
}

.cancel{
    color: var(--cancel);
    font-size: 0.7em;
    text-decoration: underline;
    margin: 0;
    float: right;
    display: inline;
}

/*Admin page*/

.pop-up{
    display: none;
    height: 150px;
}

