
/*font-family: 'Miriam Libre', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;

CITAT'IMAC :
font-family: 'Poppins', sans-serif;
font-weight: 'Black Italic';
text-transform: uppercase;


BUTTON
font-family: 'Poppins', sans-serif;
font-weight: 'Black';
text-transform: uppercase;


SOUS-TITRES
font-family: 'Poppins', sans-serif;
font-weight: 'Black';
text-transform: uppercase;


Texte citation :
font-family: 'Miriam Libre', sans-serif;


Petits textes :
font-family: 'Roboto', sans-serif;
font-weight: 'Light';

*/

body{
	background-color: blue;
    padding: 0 16.7%;
}

header{
	text-align: center;
}

#container{
	display: flex;
}

nav{
	margin-right: 3%;
    width: 30%;
    background-color: white;
    border-radius: 15px;
    padding: 2%;
    text-align: center;
}

#add_citation{
	background-color: purple;
    padding: 2%;
    border-radius: 8px;
    border: none;
    width: 85%;
}

#sort, #search, #filter{
	text-align: left;
}

#filterForm ul{
	padding: 0;
    list-style-type: none;
}